/* v1.0 */

@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

* {
  user-select: none;
  -ms-user-select: none;
  outline: 0;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Do Hyeon", sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#wrapper {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}

#gameover-screen {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  color: #fff;
  font-size: 40px;
  z-index: 3;
}

#info {
  position: absolute;
  bottom: 0;
  left: 45%;
}

#playground {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 600px;
  box-sizing: border-box;

  outline: 1px solid black;
}

#highlighter {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  font-size: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

#ball {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: peru;

  position: absolute;
  left: 1px;
  top: 574px;
}

#arrow {
  width: max-content;
  bottom: 0;
  height: 25px;
  transform-origin: left;
  transform: rotate(0deg);

  position: absolute;
}

/* #arrow-point-left {
  background-color: red;
}

#arrow-point-right {
  background-color: blue;
} */

.brick {
  width: 50px;
  height: 30px;
  background-color: rgb(55, 0, 0);
  color: white;
  text-align: center;
  border: 0;
  outline: 1px solid black;

  position: absolute;
}

.hidden {
  display: none;
}
